.container {
    background-color: wheat;
    border: 5px white;
    opacity: 85%;
    border-radius: 5px;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    padding: 10px 20px 50px 10px;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
}
