.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.photo:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.text {
    color: green;
    text-align: center;
}