.container {
    margin: 50px auto;
    width: 50%;
    border: 3px solid rgb(204, 9, 107);
    padding: 10px;
    text-align: center;
}
.title {
    background-color: red;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
